//@supports ( (display: grid) or (display: -ms-grid)) {
@supports ( (display: grid) or (display: -ms-grid)) {
    .site{
        //display:-ms-grid;
        //display:grid;

        .site{
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
@supports ( display: grid) {
    .site{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        footer{
            margin-top: auto;
        }
    }
}