.header-button{
    border: 1px solid #feb200;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #ffdc00;
    font-size: 14px;
    padding: 12px;
}