.header-button{
    border: 1px solid $primary-color;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #ffdc00;
    font-size: 14px;
    padding: 12px;
    
    text-align: center;

    max-width: 200px;
}
.header-button:hover, 
.header-button:active {
    background-color: $primary-color;
    color: #323232;
    text-decoration: none;
}

.btn-style1{
    background-color: $primary-color;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #323232;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
}