.map-wrapper{
    border: 2px solid #feb200;
    display: block;
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 400px;
    
    img{
        display: block;
        width: 100%;
        display: none;
    }
    &:hover{
        border: 2px solid #323232;
    }
 
}


section.contacts{
    margin-bottom: 60px;
    .d-block{
        display: block;
        margin-bottom: 1rem;
    }
    @media (max-width: 575px){
        text-align: center;
    }
}
.call-block{
    background-color: #e3e3e3;
padding: 50px 0;
font-family: 'Open Sans';
.dont-miss-time {
    background-color: #fff;
    border-radius: 3px;
    color: #313131;
}
    .header-1{
        padding: 10px 15px;
        font-weight: 700;
        font-size: 38px;
        text-transform: uppercase;
        display: block; 
    }
    .header-2 {
        background-color: #313131;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        padding: 5px 20px;
        display: block;
    }
    .list {
        margin: 0;
        list-style: none;
        padding: 20px;
        
        li {
            display: block;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            padding-left: 10px;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background-color: #313131;
                transform: translateY(-50%);
            }
        }
    }

    .form-custom{
        color: #323232;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        p {
            text-transform: none;

        }
    }
    input[type=text], input[type=tel]{
        width: 100%;
        font-size: 16px;
        color: #757575;
        border: 1px solid #757575;
        text-align: center;
        font-weight: 700;
        font-family: Open Sans;
        height: 32px;
        padding: 0;
    }
    .wrap-input-100{
        width: 100px;
        padding: 0 5px;
    }
    .submit-btn{
        transition: background-color .15s,border .15s,color .15s;
        position: relative;
        vertical-align: middle;
        background: 0;
        border: 0;
        line-height: 1.2;
        outline: none;
        cursor: pointer;
        white-space: normal;

        font-size: 24px;
        border-radius: 3px;
        background-color: #feb200;
        padding: 13px 15px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        color: #33334a;
        font-family: "Open Sans";

    }
    .alert {
        font-size: 14px;
        color: #33334a;
        font-family: "Open Sans";
        text-transform: uppercase;
    }
    @media (max-width: 575px){
        .list{
            margin-bottom: 30px;
        }
    }

}

.dizajn-fasada{

    @media (min-width: 1200px){
        .custom-col-xl-6{

            flex: 0 0 calc(50%);
            max-width: calc(50%);
            &+div{
                flex: 0 0 calc(50%);
                max-width: calc(50%);   
            }
            .container{
                width: calc((1180px / 2));
                margin-right: 0; 
            }

            @supports ( display: grid){
                flex: 0 0 calc(50% - 57px);
                max-width: calc(50% - 57px);
                &+div{
                    flex: 0 0 calc(50% + 57px);
                    max-width: calc(50% + 57px);   
                }
                .container{
                    width: calc((1180px / 2) - 57px);
                    margin-right: 0; 
                }
            }
            
           
        }
        
        .info{
            padding: 0;
            .title{
                white-space: nowrap;
            }
        }
        .list{

            max-width: 480px;
        }
    }

    .info{
        padding-top: 60px;
        background-color: #333;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url(../img/bg-info.jpg);


        .title {
            font-size: 46px;
            font-weight: 700;
            color: #fff;
            line-height: 1.2;
            margin-bottom: 40px;
            position: relative;
            z-index: 2;
            span {
                color: #fdbb2f;
            }
        }
        .slogan {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            max-width: 480px;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .desc {
            margin-bottom: 40px;
            font-size: 20px;
            color: #fff;
        }

        .tk-btn {
            transition: background-color .15s,border .15s,color .15s;
            position: relative;
            background: 0;
            outline: none;
            cursor: pointer;
            white-space: normal;

            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid #f6b113;

            display: block;
            border-radius: 0;
            padding: 0;
            width: 100%;
            max-width: 160px;
            height: 45px;
            line-height: 45px;
            color: #feb200;
        }

        .list {
            margin-top: 50px;
            .item {
                display: flex;
                align-items: center;
                -ms-flex-pack: center;
                font-size: 0;
                & + .item{
                    margin-top: 25px;
                }
                .icon {
                    background-color: #474747;
                    flex: 0 0 60px;
                    border-radius: 100%;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    position: relative;
                    img {
                        transform: translateY(-50%);
                        position: absolute;
                        top: 50%;
                        right: -20px;
                    }
                }
                .name {
                    font-size: 16px;
                    color: #b9b9b9;
                    padding-left: 40px;
                }
            }
        }

    }

    .gallery{
        .swiper-container-gallery{
            height: 700px;
        }
        .swiper-button-prev,
        .swiper-button-next{
            
            background-color: #333;
            @supports ( display: grid){
                background: #333;
            }
            height: 60px;
            width: 150px;
            line-height: 60px;
            text-align: center;
            font-size: 20px;
            color: #fff;
            top: auto;
            bottom: 0;
            left: 350px;
            right: auto;
            outline: none;
            z-index: 2;

            display: flex;    
            justify-content: center;
            align-items: center;
            @media (max-width: 767px){
                left: 20px;
           
            }
            
        }
        .swiper-button-prev::after,
        .swiper-button-next::after{
            content: "";
            display: block;    
            height: 22px;
            width: 22px;
            background-repeat: no-repeat;
            background-position: center;
                    }
        .swiper-button-prev::after{
            background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>");

        }
        .swiper-button-next::after{
            background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>");

        }

        .swiper-button-next {
            left: 505px;
            @media (max-width: 767px){
                left: 170px;
           
            }
        }
        .swiper-button-next.swiper-button-disabled, 
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;

            span.cover {
                display: block;
                height: 200px;
                width: 300px;
                background-color: #333;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: 0 -10px 16px 0 rgba(0,0,0,.3);
                position: absolute;
                bottom: 0;
                left: 20px;
                @media (max-width: 767px){
                    bottom: 60px;
                }
            }
            .buttons {
                position: absolute;
                bottom: 80px;
                left: 350px;
                max-width: 305px;
                width: 100%;
                font-size: 0;
                @media (max-width: 767px){
                    display: none;
                }
                .tk-btn {
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    width: 100%;
                    max-width: 150px;
                    text-align: center;
                    border-radius: 0;
                    background-color: #fff;
                    font-size: 16px;
                    text-transform: none;
                    color: #323232;
                    display: block;
                    font-weight: 700;
                    position: relative;
                    text-decoration: none;
                    z-index: 2;
                    &:hover{
                        background-color: #feb200;
                    }
                }

                .count {
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    right: 0;
                    left: 0;
                    text-align: right;
                    //z-index: -1;
                    z-index: 0;

                    .line {
                        display: inline-block;
                        vertical-align: middle;
                        background-color: #fff;
                        height: 1px;
                        width: calc(100% - 150px - 70px);
                    }

                    .number {
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                        line-height: 40px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 50px;
                        text-align: right;
                    }

                }

            }
        }
        
    }
    @media (max-width: 1199px){
        .d-flex{
            & > div:nth-child(1){
                order: 2;
            }
            & > div:nth-child(2){
                order: 1;
            }
        }
        .info{
            .container > *{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .info  .list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 50px;
            .item + .item {
                margin-top: 0;
            }
        }
    }
    @media (max-width: 991px){
        .info  .list{
            max-width: 320px;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;

            .item + .item {
                margin-top: 25px;
            }
        }
         
    }

}
.c100{
    width: 100%;
    display: block;
}
.what-included{
    @media (min-width: 992px){
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: 1200px){
        .container {
            max-width: 1140px;
        }
    }
    @media (min-width: 1280px){
        .container {
            max-width: 1180px;
        }
        
    }

    padding: 70px 0;
    
    .block-included{
        padding-left: 20px;
    }
    @media (max-width: 1199px){
        .block-included {
            margin-top: 30px;
            padding-left: 0;
            .item .icon{
                span{
                    display: none;
                }
            }
            h2{
                margin-bottom: 20px;
            }
        }
    }

    h2 {
        margin: 0 0 40px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #323232;
    }
    .item + .item {
        margin-top: 14px;
        @media (min-width: 1280px){
            margin-top: 13px;
        }
    }
    .item{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .icon {
            flex: 0 0 70px;
            text-align: center;
            position: relative;
            height: 70px;
            border-radius: 100%;
            border: 1px solid #feb200;
            line-height: 68px;

            display: flex;
            justify-content: center;
            align-items: center;

            .mark-1{
                width: 189px; 
                //width: 14vw;
            }
            .mark-2{
                width: 168px; 
                //width: 14vw;
            }
            .mark-3{
                width: 146px; 
                //width: 14vw;
            }
            .mark-4{
                width: 129px; 
                //width: 14vw;
            }
            .mark-5{
                width: 107px; 
                //width: 14vw;
            }


            span {
                display: block;
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                z-index: 1;
                &::before {
                    content: '';
                    background-color: #fdbb2f;
                    -webkit-box-shadow: 0 0 0 7px rgba(253,187,47,.3);
                    box-shadow: 0 0 0 7px rgba(253,187,47,.3);
                    border-radius: 100%;
                    width: 7px;
                    height: 7px;
                    display: block;
                }
                &::after {
                    content: '';
                    background-color: #fdbb2f;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    left: 0;
                }
            }
        }

        .name {
            padding-left: 20px;
            font-size: 18px;
        }
    }
    .bottom{
        padding-top: 50px;
        text-align: right;
        position: relative;
        .price {
            text-align: left;
            position: absolute;
            left: 35px;
            bottom: 0;
            right: 160px;
            padding-left: 50px;
            &::before {
                content: '';
                background-color: #feb200;
                width: 1px;
                position: absolute;
                bottom: 50%;
                left: 0;
                height: 55px;
            }
            &::after {
                background-color: #feb200;
                top: 50%;
                left: 0;
                right: 20px;
                height: 1px;
                content: '';
                position: absolute;
                z-index: -1;
            }
            span {
                background-color: #fff;
                display: inline-block;
                padding: 0 20px;
                font-size: 24px;
                line-height: 45px;
                font-weight: 700;
                position: relative;
            }

        }
        .tk-btn {
            transition: background-color .15s,border .15s,color .15s;
            position: relative;
            vertical-align: middle;
            background: 0;
            border: 0;
            outline: none;
            cursor: pointer;
            white-space: normal;

            background-color: #feb200;
            display: inline-block;
            color: #323232;
            font-size: 14px;
            font-weight: 800;
            text-transform: uppercase;

            height: 45px;
            line-height: 45px;
            padding: 0;
            border-radius: 0;
            width: 100%;
            max-width: 160px;
        }
    }

}

.work-examples{
    .name {
        text-transform: uppercase;
        line-height: 1;
        font-size: 32px;
        font-weight: 700;
        color: #333;
        text-align: center;
        margin: 0 0 30px;
    }
    a{
        display: block;
        img{
            display: block;
            width: 100%;
            margin-bottom: 30px;
        }
        &:hover{
            transform: scale(1.07);
        }
    }
    
}

.block-job{
    padding: 60px 0;
    h2{
        margin: 0 0 30px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #323232;
    }
    .images {
        display: block;
        span{
            display: block;
            padding-bottom: 76.25%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .info {
        background-color: #fff;
        box-shadow: 0px 9px 21px 0px rgba(0,0,0,.2);
        border-bottom: 5px solid #f6b113;
        margin: -40px 10px 0;
        padding: 15px 20px 20px;
        height: 100%;
    }
     .name {
        margin-bottom: 10px;
        line-height: 1.2;
        font-size: 24px;
        font-weight: 700;
    }
    .desc {
        font-size: 16px;
    }
    .item{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &>*> .row>* {
        margin-bottom: 20px;
    }
}
.block-design{
    background-color: #e5e5e5;
    padding: 60px 0;
    h2{
        margin: 0 0 40px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #323232;
    }
    .list{
        
        .item{
            position: relative;
            display: flex;
            align-items: center;
    
            &+.item{
                margin-top: 20px;
            }
            &.right{
                
            }
            .number {
                position: relative;
                font-size: 100px;
                color: #b9b9b9;
                font-weight: 700;
                line-height: 1;
                width: 210px;
                &::after {
                    transform: translateY(-50%);
                    content: '';
                    position: absolute;
                    top: 50%;
                    
                    height: 10px;
                    width: 50px;
                    background-color: #f6b113;
                    margin-right: -25px;
                }
            }
            .body {
                margin: 0 auto;
                background-color: #fff;
                padding: 30px 50px;
                flex: 1;
                .name {
                    margin-bottom: 15px;
                    line-height: 1;
                    font-weight: 700;
                    font-size: 24px;
                }
                .desc {
                    font-size: 18px;
                }
            }
        }

        @media (min-width: 1200px){
            .item:nth-child(odd){
                //color: #000;
                .number {
                    &::after{
                        right: 0;
                    }
                }
                &::after{
                    content: " ";
                    width: 210px;
                }
            }
            .item:nth-child(even){
                //color: red;
                .number{
                    order: 1;
                    text-align: right;
                    &::after{
                        left: -25px;
                    }
                }
                &::before{
                    content: " ";
                    width: 210px;
                }
            }
        }
        

        @media (max-width: 1199px){
            .item{
                .number::after{
                    right: 0;
                }
            }

        }
        @media (max-width: 767px){
            .item{
                flex-direction: column;

                .number{
                    width: auto;
                    padding-bottom: 30px;
                    &::after{
                        margin-right: -25px;
                        transform: rotate(90deg);
                        top: auto;
                        bottom: 0px;
                        left: 40%;
                        left: calc(50% - 20px);
                        margin: 0;
                    }
                }
            }
        }

    }
    
    .tk-section-buttons {
        margin-top: 30px;
        text-align: center;
        .tk-btn {
            transition: background-color .15s,border .15s,color .15s;
            position: relative;
            vertical-align: middle;
            background: 0;
            border: 0;
            outline: none;
            cursor: pointer;
            white-space: normal;
    
    
            background-color: #feb200;
            border-radius: 5px;
            padding: 10px 15px;
            display: inline-block;
            color: #323232;
            font-size: 14px;
            line-height: 1.1;
            font-weight: 700;
            text-transform: uppercase;
    
            border-radius: 0;
            height: 45px;
            line-height: 45px;
            padding: 0;
            width: 100%;
            max-width: 310px;
        }

    }

}

.breadcrumb {
    background-color: #feb200;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 7px 10px;
    white-space: nowrap;
    overflow-y: hidden;
    text-transform: uppercase;
    font-size: 10px;
    a {
        font-weight: 700;
        color: #a87600;
        border-bottom: 0;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.page-montaj{
    .montaj-item{
        display: flex;
        margin-bottom: 50px;
        padding-top: 50px;
        position: relative;
        &::after {
            content: '';
            background-color: #f0f0f0;
            border-bottom: 2px solid #feb200;
            display: block;
            max-width: 770px;
            position: absolute;
            top: 40px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
        .body{
            flex-grow: 2;
            flex-shrink: 2;
            flex-basis: 0%;

            font-size: 14px;
            line-height: 1.8;
            padding: 30px;

        }
        .image{
            transform: translateY(-50px);
            flex-grow: 3;
            flex-shrink: 3;
            flex-basis: 0%;
            img{
                display: block;
                width: 100%;
            }
        }

        .tk-btn-style1 {
            transition: background-color .15s,border .15s,color .15s;
            position: relative;
            vertical-align: middle;
            background: 0;
            border: 0;
            outline: none;
            cursor: pointer;
            white-space: normal;

            background-color: #feb200;
            border-radius: 5px;
            padding: 10px 15px;
            display: inline-block;
            color: #323232;
            font-size: 14px;
            line-height: 1.1;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 20px;
        }
    }   
    @media (max-width: 1199px){
        .montaj-item{
            padding-top: 40px;
            margin-top: -30px;
            .body{
                /* flex-grow: 2;
                 flex-shrink: 2;
                 flex-basis: 0%;*/
     
            }
            .image{
                 flex-grow: 2;
                 flex-shrink: 2;
                 transform: translateY(50px);
                // flex-basis: 0%;
            }
        } 
    }
    @media (max-width: 991px){
        .montaj-item{
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;
            flex-direction: column;
            &::after{
                display: none;
            }
            .body{
                order: 2;
                
            background-color: #f0f0f0;
            border-bottom: 2px solid #feb200;
            }
            .image{
                order: 1;
                transform: translateY(0);
            }
        }
    }
}

.step-header {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    .number {
        background-color: #feb200;
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 24px;
    }
    h3, .h3 {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.step-3{
    margin-top: 60px!important;
    p{
        margin-bottom: 30px;
        font-size: 16px;
    }

    h4{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 18px;
    }

    .item{
        padding-left: 10px;
        display: flex;
        
        & + .item{
            margin-top: 40px;
        }
        &:last-child{
            margin-bottom: 40px;
        }
        .icon {

            width: 50px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            height: 50px;
            line-height: 50px;
            background-color: #feb200;
            box-shadow: 0 5px 16px 0 rgba(0,0,0,.2);
            position: relative;
            &::before {
                content: '';
                height: 50px;
                width: 5px;
                position: absolute;
                top: 0;
                right: 100%;
                margin-right: 5px;
                background-color: #feb200;
                -webkit-box-shadow: 0px 5 16px 0 rgba(0,0,0,.2);
                box-shadow: 0 5px 16px 0 rgba(0,0,0,.2);
            }
            
        }
        .body{
            flex: 1;
            padding-left: 22px;
            .name {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 15px;
                line-height: 1.2;
            }
            .desc {
                font-size: 16px;
                line-height: 1.4;
            }
        }
        //display: flex;
    }
}
.step-3,
.step-2{
    .images{
        position: relative;
        img {
            background-color: #aeaeae;
            -webkit-box-shadow: 0 9px 21px 0 rgba(0,0,0,.2);
            box-shadow: 0 9px 21px 0 rgba(0,0,0,.2);
            position: relative;
            z-index: 1;
            width: 100%;
            display: block;
        }
        &:after {
            content: '';
            position: absolute;
            border: 1px solid #f6b113;
            right: 20px;
            top: 20px;
            left: -20px;
            bottom: -20px;
            z-index: -1;
        }
        & + .images{
            margin-top: 40px;
        }
    }
}
.step-2{
    background-color: #323232;
    padding: 40px 0 60px;
    margin-top: 60px;
    color: #fff;
    p{
        margin-bottom: 30px;
        font-size: 16px;
    }
    .info{
        border-bottom: 3px solid #feb200;
        margin-bottom: 40px;
        position: relative;
        padding-bottom: 40px;
    }
    .images:after{
        z-index: 0;
    }
    
    .block-grid{
        .item{
            margin-top: 20px;
            .header{
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                .number{
                    display: inline-block;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    line-height: 26px;
                    border: 2px solid #feb200;
                    color: #feb200;
                    font-size: 18px;
                    text-align: center;
                }
                .name{
                    font-size: 18px;
                    font-weight: 700;
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(100% - 30px);
                    padding-left: 20px;
                    line-height: 1.2;
                }
            }
            .body{
                font-size: 16px;
                p{
                    margin-bottom: 25px;
                }
            }
        }
    }

}

.step-1{
    margin-top: 60px;
    .article{
        border-bottom: 3px solid #feb200;
        margin-bottom: 40px;
        padding-bottom: 30px;
        font-size: 16px;
        column-count: 2;
        column-gap: 60px;
    }

}
.step-1-part{
    margin-bottom: 60px;
    .buttons{
            
        padding: 30px 0 0;
        text-align: center;
        display: flex;
        justify-content: center;
        a{
            color: #333;
            display: block;
            line-height: 1.3;

            span{
                transition: border-bottom-color .15s;
               // border-bottom: 1px solid #ccc;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                display: block;
            }

            &:hover{
                color: #feb200;
                span {
                    border-bottom-color: #feb200;
                }
            }

            img{
                margin: 10px auto 12px;
                display: block;
            }
        }
        
    }
    h3{
        margin-top: 60px;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
    p{
        font-size: 16px;
        line-height: 1.4;
    }
    .block-service{
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 570px;
        height: 207px;
        position: relative;
        .service-body {
            max-width: 320px;
            position: absolute;
            left: 30px;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);

            .desc {
                margin-bottom: 30px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                color: #fff;
            }

            .tk-btn.tk-btn-style3 {
                transition: background-color .15s,border .15s,color .15s;
                position: relative;
                vertical-align: middle;
                background: 0;
                border: 0;
                outline: none;
                cursor: pointer;
                white-space: normal;

                background-color: #333;
                border-radius: 5px;
                height: 45px;
                padding: 0 15px;
                display: inline-block;
                color: #fff;
                font-size: 14px;
                line-height: 43px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    
}

.cards-list{
    margin-bottom: 50px;
    h1{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .category-form{
        border: 1px solid #eee;
        padding: 20px;
        border-radius: 5px;
        height: 100%;

        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.125);
        

        }
        img{
            max-height: 150px;
        }
        &>div:nth-of-type(1){
            
            margin-top: auto;
            a{
                display: block;
                margin: 5px auto 0;
                text-align: center;

            }
        }
        &>div:nth-of-type(2){
            
            margin-top: auto;
        }
        .info{
            span{
                line-height: 1.2;
                font-size: 16px;
            }
        }
        .price {
            font-size: 12px;
            font-weight: 700;
            text-transform: lowercase;
            text-align: left;
            line-height: 35px;
            white-space: nowrap;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin-top: 20px;
            text-align: center;
            & > span > span {
                display: inline-block;
                vertical-align: -1px;
                line-height: 1;
                font-size: 20px;
                color: #feb200;
            }
        }
        .tk-btn.tk-btn-style1 {
            transition: background-color .15s,border .15s,color .15s;
            position: relative;
            vertical-align: middle;
            background: 0;
            border: 0;
            line-height: 1.2;
            cursor: pointer;
            white-space: normal;

            background-color: #feb200;
            border-radius: 5px;
            padding: 10px 15px;
            display: inline-block;
            color: #323232;
            font-size: 14px;
            line-height: 1.1;
            font-weight: 700;
            text-transform: uppercase;
            &:active {
                background-color: #e4a000;
            }
            &:hover{
                background-color: #ca8e00; 
                //background-color: #feb919;
                text-decoration: none;
                
            }
        }
        
       


    }
    .category{
        .row > *{
            margin-bottom: 30px;
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
        li{
            margin: 0 3px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                font-weight: 500;
                border: 2px solid #feb200;
                border-radius: 5px;
                width: 35px;
                height: 35px;
                text-align: center;
                color: #333;
            }
            &.active{
                a{
                    width: 35px;
                    height: 35px;
                    font-size: 14px;
                    font-weight: 700;
                    color: #fff;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: #feb200;
                    border-color: #feb200;
                    border-radius: 5px;
                
                }
            }
            &.disabled{
                display: none;
            }
        }
        li:nth-child(2){
            a{
                width: 20px;
                &:hover{ 
                    background-color: transparent; 
                }
                font-size: 0;
                border: 0px solid #feb200;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-image: url(../img/left.png);
                    background-size: contain;
                    background-size: 13px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        li:nth-last-child(2){
            a{
                width: 20px;
                &:hover{ 
                    background-color: transparent; 
                }
                font-size: 0;
                border: 0px solid #feb200;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-image: url(../img/right.png);
                    background-size: contain;
                    background-size: 13px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        li:last-child,
        li:first-child{
            display: none;
        }
    }
    .page-link:focus {
        z-index: 2;
        outline: 0;
        box-shadow: none;
    }
}
.guidance{
    //margin-top: 20px;
    display: flex;
    flex-direction: column; 
    .card-item {
        background-color: #e1e7ea;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;
        cursor: pointer;
        span.name {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            font-size: 16px;
            color: #fff;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.2;
            max-width: 180px;
            margin: 0 auto;
            background-color: #333;
            border-radius: 0 0 5px 5px;
            padding: 14px 10px;
        }
        span.img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 92%;
            display: block;
        }
        .tk-btn {
            transition: background-color .15s,border .15s,color .15s;
            position: relative;
            background: 0;
            border: 0;
            outline: none;
            cursor: pointer;
            white-space: normal;

            background-color: #feb200;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;

            display: block;
            width: 100%;

            border-radius: 0;
            height: 30px;
            line-height: 30px;
            padding: 0;
            color: #fff;

            &:hover {
                background-color: #feb919;
            }
            &:active {
                background-color: #e4a000;
            }

        }
    }
    
}
@media (max-width: 1199px){
    .guidance{
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
        .card-item{
            width: 30%;
        }
    }
        
}
@media (max-width: 575px){
    .guidance{
        
        justify-content: center;
        flex-wrap: wrap;
        .card-item{
            max-width: 300px;
            width: 100%;
        }
    }
}