
h1.title{
    text-transform: uppercase;
    line-height: 1;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}
h1.center{
    text-align: center;
}

h2{
    margin-bottom: 1rem;
}
.orange{
    color: #feb200;
}
.contacts{
    .h3{
        margin-bottom: 1rem;
        font-weight: 700;
    }
    .h4{
        margin-bottom: 1rem;
    }
}
