.swiper-grid{
    display: flex;
    height: 100%;
    margin-bottom: 30px;    
    justify-content: space-between;
  

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-right: 0;

      }
      .swiper-slide {
        background-size: cover;
        background-position: center;
        @media (max-width: 767px){
          width: 100% !important;
        }
      }
      .gallery-top2 {
        height: 80%;
        width: 100%;

        .swiper-wrapper{
          height: 300px;
        }
      }
      .gallery-thumbs2 {
        box-sizing: border-box;
        padding: 10px 0;
      }
      .gallery-thumbs2 .swiper-slide {
        width: 25%;
        opacity: 0.4;
        height: 50%;
        @supports ( display: grid){
          height: 100%;
        }
      }
      .gallery-thumbs2 .swiper-slide-thumb-active {
        opacity: 1;
      }
    
    .swiper-container{
        flex: 0 0 49%;
        max-width: 49%;
        @media (max-width: 767px){
          flex: 0 0 100%;
        max-width: 100%;
        }
    }
    .gallery-thumbs2 {
        
        padding: 0 0;
        @media (max-width: 767px){
          display: none;
        }
    }
    .gallery-thumbs2 .swiper-wrapper{
        
        padding: 0 0;
        display: grid;
            grid-row-gap: 8px;
        grid-template-columns: repeat(6, 1fr);
    }

    .gallery-thumbs2 {
      position: relative;
      .swiper-slide{
        opacity: 1;
        cursor: pointer;
        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.65);

        }
      }
      .swiper-slide-thumb-active::before{
        background-color: transparent;
      }

    }

}
